.logo_div {
    width: 100%;
    background-color: var(--csi-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.logo {
    margin-top: 50px;
    height: 270px;
    aspect-ratio: 1;
    object-fit: contain;
    margin-bottom: 20px;
}

.h3__ {
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: bolder;
    font-size: xx-large;

}

.wave_1 {
    margin-top: -100px;
    z-index: -100;
}

.wave_2 {
    margin-top: 30px;
    z-index: -100;
}

.upcoming_events {
    width: 100%;
    margin-bottom: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--csi-blue);
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_members {
    min-height: 100px;
    background-color: var(--csi-blue);
    margin-top: -35px;
}

@media only screen and (max-width: 992px) {
    .logo {
        height: 200px;
    }

    .wave_1 {
        margin-top: -150px;
    }

}

@media only screen and (max-width: 760px) {
    .logo {
        height: 200px;
    }

    .wave_1 {
        margin-top: -200px;
    }

    .heading {
        font-size: 40px;
        font-weight: bold;
        color: var(--csi-blue);
    }

    .board_members {
        margin-top: -40px;
    }
}

@media only screen and (max-width: 420px) {
    .logo {
        height: 160px;
    }

    .h3__ {
        font-size: x-large;
    }

    .heading {
        font-size: 30px;
        font-weight: bold;
        color: var(--csi-blue);
    }

    .board_members {
        margin-top: -40px;
    }
}