:root {
  --primary-color: #061D4B;
  --csi-blue: #061D4B;
  /* 013399 */
  /* --primary-color: white; */
  /* --primary-text-color: black; */
  /* --primary-text-color-light: rgba(255, 255, 255, 0.8); */
  /* --primary-text-color-lighter: rgba(255, 255, 255, 0.6); */
  /* --primary-color-lighter: rgb(153, 153, 153); */
}

.nav-bg{
  background-color: #061D4B;
  height: 74px;
  width: 100%;
}

.App {
  text-align: center;
  background-color: #fff;
  min-width: 360px;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  min-width: 360px;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  min-width: 360px;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}
.app-content{
  margin-top: -180px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}