[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
psycopg2 = "*"
django-storage-supabase = "*"
boto3 = "*"
supabase = "*"
storage3 = "*"
django-storages = {extras = ["s3"] }
pyrebase4 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
