.wave_4 {
    margin-top: 70px;
}

.footer {
    background-color: var(--csi-blue);
    margin-top: -60px;
}

.heading {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--csi-blue);
}

.icon:hover {
    transform: scale(1.1);
}

.email {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -6px;
    margin-left: 8px;
}

.phone p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -6px;
    margin-left: 8px;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 2vw;
    font-size: x-large;
    font-weight: bold;
}

.socials {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.socials_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 40px;
}

.socials>a:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 992px) {
    .socials {
        width: 40%;
    }
}

@media only screen and (max-width: 760px) {
    .socials {
        width: 60%;
    }
}

@media only screen and (max-width: 420px) {
    .socials {
        width: 70%;
    }
}